.dropdown {
  position: absolute;

  box-sizing: border-box;
  width: 130px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;

  color: black;

  background: rgb(209 209 209);
  cursor: pointer;
}

.dropdown_item {
  padding: 3px;

  transition: 0.3s ease;

  &:hover {
    background: white;
  }
}
